*{
    margin: 0;
    padding: 0;
}

#nav{
    background-color: #e42529;
    position: fixed;
    width: 100vw;
    padding-bottom: 10px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 2px;
}
#img1>img{
    background-color: #003380;
    margin-top: 130px;
    width: 100vw;
    height: 240px;
}
#nav>#left{
    background-color: white;
    margin-left: 50px;
    width: 80px;    
    height: 80px;
    border-radius: 50%;   
    margin-bottom: 4px;
}
#nav>#left>a>img{
    margin-left: 9px;
    margin-top: 9px;
    width: 76%;    
    height: 76%;    
}
#mid > i {
	font-size: 15px;
	color: rgb(200, 187, 187);
    z-index: 1;
    margin-left: -40px;
}

#mid > input{
    height: 40px;
	width: 600px;
	border: none;
	outline: none;
    margin-top: 25px;
	font-size: 15px;
	padding-left: 20px;
    color: rgb(200, 187, 187);
    border-radius: 30px;
}

#right{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 25px;
    justify-content: space-between;
    font-size: medium;
    font-weight: bold;
}

#right>#top{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: flex-start;    
    margin-bottom: 25px;
}

#right>#top>i{
    margin-top: 3px;
    width: 14px;
}

#right>#bottom{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
}

#right>#bottom>p>a{
    text-decoration: none;
    color: white;
}

#right>#bottom>i{
    width: 14px;
    margin-top: 4px;
}

#menu{
    background-color: #003380;
    position: fixed;
    margin-top: 85px;
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    font-size: 15px;
}

#menu>div{
    cursor: pointer;
}

#menu>div:hover{
    height: 100%;
    background-color: #e42529;
}

/* product */

#productfunction{
    padding-top: 170px;
    margin-bottom: 50px;
}

#priceSort{
    width: 150px;
    margin-left: 500px;   
    text-align: center; 
    height: 30px;
    border-radius: 10px;
    font-weight: 600;
    color: #003380;
    border: 1px solid #003380;
}

#catSort{
    margin-left: 100px;
    text-align: center;
    width: 180px;
    height: 30px;
    border-radius: 10px;
    font-weight: 600;
    color: #003380;
    border: 1px solid #003380;
}

#productfunction{
    text-align: center;
}

#productarea{
    width: 100vw;
    margin: auto;
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
    margin-top: 30px;
    text-align: justify;
}

#productarea>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 15px;
}

#productarea>div>span{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

#productarea>div>span>p{
    padding-top: 5px;
}

#productarea>div>span>h5{
    font-size: larger;
    margin-left: 10px;
    padding-top: 3px;
}

#productarea>div>span+p{
    margin-bottom: -15px;
}

#productarea>div>p:nth-child(4){
    text-decoration: line-through;
}

#productarea>div>p:nth-child(6){
    margin-top: -20px;
}

#productarea>div>h2{
    margin-top: -20px;
    margin-bottom: 10px;
}

#productarea>div>p{
    line-height: 1.4em;
    height: 2.8em;     
    overflow: hidden; 
    margin-bottom: 5px;
    color: #0a244a;
    font-size: 17px;
}
#productarea>div>img{
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}

#productarea>div>img:hover{
    transform:scale(1.05);
}

#productarea>div>button{
    color: white;
    background-color:#e42529;
    border: none;
    padding-left: 4px;
    padding-right: 4px;
    font-size:20px;
    cursor: pointer;
    border-radius: 20px;
    height: 35px;
    width: 160px;
    margin-left: 80vw;
    margin-right: 10px;
    margin-top: -50px;
    margin-bottom: 15px;
}


#cartTotal{
    width: 350px;
    margin: 30px auto;
    margin-left: 71.5vw;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#cartTop{
    display: flex;
    margin-bottom: 20px;
}
#promo{
    display: flex;
}
#promo>p{
    font-size: larger;
    margin-right: 30px;
    margin-top: 5px;
}

#promo>input{
    margin-right: 5px;
    height: 22px;
}

#cartTop>h2:nth-child(1){
    margin-right: 100px;
}

#final{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

#final+button{
    width: 90%;
    margin: auto;
    border: none;
    color: white;
    background-color: #e42529;
    border-radius: 20px;
    height: 30px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

#final>h3{
    margin-left: 30px;
    font-size: x-large;

}

/* product */

#bottommenu{
    color: white;
    background-color: #003380;
    width: 100vw;
    padding-top: 20px;
}

#bottommenu>#top{
    display: flex;
    justify-content: space-around;
    text-align: left;
}

#bottommenu h6{
    margin-bottom: 8px;
    font-size: small;
}

li{
    list-style: none;
    margin-bottom: 6px;
}

#bottommenu>#bottom{
    display: flex;
}

#bottom>#social{
    margin-left: 115px;
}

#bottom>#app{
    margin-left: 300px;
}

#bottom>#app>#store>img{
    width: 120px;
    margin-bottom: 20px;
}

footer{
    color: white;
    background-color: #0a244a;
    width: 100vw;
    height: 140px;
    text-align: center;
}

footer>h6{
    padding-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 7px;
    font-size: medium;
}

footer>#hr{
    padding-bottom: 10px;
    border-bottom: 0.2px solid white;
}

#hr+p{
    margin-top: 20px;
}

footer>p{
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 5px;
}

footer>hr{
    margin-bottom: 20px;
}

