*{
    margin: 0;
    padding: 0;
}
#nav{
    background-color: #e42529;
    position: fixed;
    width: 100vw;
    padding-bottom: 10px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#img1>img{
    background-color: #003380;
    margin-top: 130px;
    width: 100vw;
    height: 300px;
}
#nav>#left{
    background-color: white;
    margin-left: 50px;
    width: 90px;    
    height: 90px;
    border-radius: 50%;   
    margin-bottom: 4px;
}
#nav>#left>a>img{
    margin-left: 9px;
    margin-top: 9px;
    width: 80%;    
    height: 80%;    
}
#mid > i {
	font-size: 15px;
	color: rgb(200, 187, 187);
    z-index: 1;
    margin-left: -40px;
}

#mid > input{
    height: 40px;
	width: 600px;
	border: none;
	outline: none;
    margin-top: 35px;
	font-size: 15px;
	padding-left: 20px;
    color: rgb(200, 187, 187);
    border-radius: 30px;
}

#right{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 25px;
    justify-content: space-between;
    font-size: medium;
    font-weight: bold;
}

#right>#top{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: flex-start;    
    margin-bottom: 20px;
}

#right>#top>i{
    margin-top: 3px;
    width: 14px;
}

#right>#bottom{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
}

#right>#bottom>p>a{
    text-decoration: none;
    color: white;
}

#right>#bottom>i{
    width: 14px;
    margin-top: 4px;
}

#menu{
    background-color: #003380;
    position: fixed;
    margin-top: 95px;
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    font-size: 15px;
}

#menu>div{
    cursor: pointer;
}

#menu>div:hover{
    align-items: center;
    padding-top: 10px;
    height: 100%;
    background-color: #e42529;
}


.carousel-control-prev{
    margin-top: 90px;
    height: 90px;
    width: 80px;
    margin-left: -30px;
    background-color: rgb(100, 100, 100);
}

.carousel-control-next{
    margin-top: 90px;
    height: 90px;
    width: 80px;
    margin-right: -30px;
    background-color: rgb(100, 100, 100);
}

#carouselExampleIndicators{
    position: absolute;
    z-index: -1;
    width: 100%;
}

#audiofest{
    margin-top: 291px;
    padding-top: 20px;
    
}

#audiofest>p{
    font-size: 30px;
    margin-left: 30px;
}

#audiofestinner{
    border-bottom: 1px solid grey;
    width: 100vw;
    height: 450px;
    display: flex;
    justify-content: space-around;
    line-height: 20px;
    padding-top: 50px;
}


#audiofestinner>div{
    width: 16%;
    height: 100%;
}


#audiofestinner>div>p{
    line-height: 1.4em;
    height: 2.8em;     
    overflow: hidden; 
    margin-bottom: 1px;
}

#audiofestinner>div>img{
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

#audiofestinner>div>button{
    color: #589b57;
    background-color: #effcf5;
    border: 1px solid #589b57;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 9px;
    border-radius: 20px;
    height: 22px;
}

#audiofestinner>div>span+p{
    margin-bottom: -25px;
}

#audiofestinner>div>span{
    display: flex;
    margin-bottom: -12px;
}

#audiofestinner>div>span>p{
    margin-right: 10px;
}
/* tv */
#besttv{
    padding-top: 20px;
    border-bottom: 1px solid grey;
    width: 100vw;
    height: 450px;
}

#besttv>p{
    font-size: 30px;
    margin-left: 30px;

}

#besttvseller{
    border-bottom: 1px solid grey;
    width: 100vw;
    /* height: 450px; */
    display: flex;
    justify-content: space-around;
    line-height: 20px;
}


#besttvseller>div{
    width: 16%;
    height: 100%;
}


#besttvseller>div>p{
    line-height: 1.4em;
    height: 2.8em;     
    overflow: hidden; 
    margin-bottom: 1px;
}

#besttvseller>div>img{
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

#besttvseller>div>button{
    color: #589b57;
    background-color: #effcf5;
    border: 1px solid #589b57;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 9px;
    border-radius: 20px;
    height: 22px;
    margin-bottom: 28.5px;
}

#besttvseller>div>span+p{
    margin-bottom: -25px;
}

#besttvseller>div>span{
    display: flex;
    margin-bottom: -12px;
}

#besttvseller>div>span>p{
    margin-right: 10px;
}


/* tv */

#greatdeals{
    margin: auto;
}

#greatdeals>p{
    margin: 40px 0px 50px 25px;
    font-size: x-large;
}

#greatdeals>#top{
    display: flex;
    justify-content: space-around;
    height: 260px;
    align-items: flex-end;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid grey;
}

#greatdeals>#bottom{
    display: flex;
    justify-content: space-around;
    height: 300px;
    margin: auto;
    width: 100%;
    margin-top: 80px;
    margin-bottom: -40px;
}

#promisetext{
    margin-top: 300px;
    text-align: center;
    color: #003380;
    margin-bottom: 20px;
    font-weight: bold;
}

#promise{
    display: flex;
    justify-content: space-around;
}

#promise>div{
    border: 1px solid lightgrey;
    background-color: #f7f7f7;
    width: 23%;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

#promise>div>img{
    width: 12%;
}

#promise>h6{
    color: #003380;
    margin-top: 20px;
}
#promise div:nth-child(3) img{
    margin-top: 19px;
}
#promise div p{
    color: grey;
    margin-top: -10px;
    margin-bottom: 0px;
}

/* audio */
#bestselling{
    padding-top: 20px;
    width: 100vw;
    height: 450px;
}

#bestselling>p{
    font-size: 30px;
    margin-left: 30px;

}

#bestsellingaudio{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    line-height: 20px;
}


#bestsellingaudio>div{
    width: 16%;
    height: 100%;
}


#bestsellingaudio>div>p{
    line-height: 1.4em;
    height: 2.8em;     
    overflow: hidden; 
    margin-bottom: 1px;
}

#bestsellingaudio>div>img{
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

#bestsellingaudio>div>button{
    color: #589b57;
    background-color: #effcf5;
    border: 1px solid #589b57;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 9px;
    border-radius: 20px;
    height: 22px;
    margin-bottom: 28.5px;
}

#bestsellingaudio>div>span+p{
    margin-bottom: -25px;
}

#bestsellingaudio>div>span{
    display: flex;
    margin-bottom: -12px;
}

#bestsellingaudio>div>span>p{
    margin-right: 10px;
} 


/* audio */

#explorerange{
    width: 100vw;
    background-color: #f7f7f7;
    margin-top: 10px;
}

#explorerange>p{
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#explorerange>#mid{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#explorerange>#mid>div>img{
    margin-top: 80px;
    margin-bottom: 50px;

}

#explorerange>#mid>div>p{
    font-size: large;

}

#explorerange>button{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 46%;
    text-align: center;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: #003380;
    color: white;
}

#bottommenu{
    color: white;
    background-color: #003380;
    width: 100vw;
    padding-top: 20px;
}

#bottommenu>#top{
    display: flex;
    justify-content: space-around;
    text-align: left;
}

li{
    list-style: none;
    margin-bottom: 5px;
}

#bottommenu>#bottom{
    display: flex;
}

#bottom>#social{
    margin-left: 115px;
}

#bottom>#app{
    margin-left: 300px;
}

#bottom>#app>#store>img{
    width: 120px;
    margin-bottom: 20px;
}

footer{
    color: white;
    background-color: #0a244a;
    width: 100vw;
    height: 140px;
    text-align: center;
}

footer>h6{
    padding-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 7px;
}

footer>p{
    font-size: 13px;
    line-height: 1px;
    padding-bottom: 5px;
}

footer>hr{
    margin-bottom: 20px;
}

